Repository erichamilt0n/template-repo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/maintainers, @organization/devops, @organization/security, @organization/docs, @organization/legal, @organization/developers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these owners will be requested for review when someone 
# opens a pull request.
*       @organization/maintainers

# CI/CD Configuration
.github/workflows/    @organization/devops
.semaphore/          @organization/devops
vercel.json          @organization/devops

# Security and Code Quality
.codacy.yml          @organization/security
SECURITY.md          @organization/security
package.json         @organization/security

# Documentation
*.md                 @organization/docs
LICENSE              @organization/legal

# Source Code
/src/               @organization/developers
/test/              @organization/developers

Add GitHub Pages, Dependabot, and documentation configurations
  .github/dependabot.yml
  .github/workflows/pages.yml
  jsdoc.json
  package.json
Owners: @organization/maintainers, @organization/devops, @organization/security

Add GitHub Pages static deployment workflow
  .github/workflows/static.yml
Owners: @organization/devops

Add GitHub Pages documentation site and update workflow
  .github/workflows/static.yml
  docs/index.html
Owners: @organization/devops, @organization/maintainers

Add package-lock.json for dependency management
  package-lock.json
Owners: @organization/maintainers

Update GitHub Pages workflow for better error handling
  .github/workflows/static.yml
Owners: @organization/devops

Update CI workflow for better dependency handling
  .github/workflows/ci.yml
Owners: @organization/devops

Update all workflows to use ubuntu-24.04
  .github/workflows/ci.yml
  .github/workflows/grafana-metrics.yml
  .github/workflows/static.yml
Owners: @organization/devops

Add script to apply template to existing repositories
  apply-template.sh
Owners: @organization/maintainers
